header {
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin-right: 60px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      &#user {
        color: #f2f2f2;
        margin-right: 20px;
        .material-icon {
          margin-right: 5px;
        }
      }
      button {
        padding: 0;
        outline: none;
        background: none;
        color: #ff9900;
        border: none;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1.25px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
