#search_field {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #search {
    width: 600px;
    font-size: 2rem;
  }
  label {
    color: #f2f2f2;
    margin-right: 15px;
    font-size: 2rem;
  }
  .form-helper {
    position: relative;
  }
  .suffix {
    position: absolute;
    right: 0;
    top: 12px;
    color: #f2f2f2;
    cursor: pointer;
  }
}
