<section id="login">
  <form>
    <div class="form-field">
      <label for="email"><b>Email</b></label>
      <input id="email" name="email" type="email">
      <span class="error">Nem megfelelő kitöltés</span>
    </div>
    <div class="form-field">
      <label for="password"><b>Jelszó</b></label>
      <input id="password" name="password" type="password">
      <span class="error">Nem megfelelő kitöltés</span>
    </div>
    <button>
      <b>Bejelentkezés</b>
    </button>
  </form>
</section>

